<a href="https://colab.research.google.com/github/LeeHyuno/baekjoon/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 문법

In [ ]:
## 반복문을 이용한 문제 풀이

# 1. 1부터 N까지 홀수 출력
n = int(input()) # input은 문자로 받음
for i in range(1, n+1):
  if i%2 == 1:
    print(i)

10
1
1
2
3
5
5
7
9
10
55

In [ ]:
# 2. 1부터 N까지 합 출력
n = int(input()) 
sum = 0
for i in range(1, n+1):
  sum = sum +i
print(sum)

10
55

In [ ]:
# 3. N의 약수 출력
n = int(input())
for i in range(1, n+1):
      if n%i ==0: # 어차피 i는 n이하
        print(i)

20
1
2
4
5
10
20

In [ ]:
## 중첩 반복문 = 2중 for문

for i in range(5):
  print('i:', i, sep='', end =' ')  
  for j in range(5):
    print('j:', j, sep='', end =' ')  
  print() # 줄바꿈 기능 해줌

i:0 j:0 j:1 j:2 j:3 j:4
i:1 j:0 j:1 j:2 j:3 j:4
i:2 j:0 j:1 j:2 j:3 j:4
i:3 j:0 j:1 j:2 j:3 j:4
i:4 j:0 j:1 j:2 j:3 j:4

In [ ]:
# sep 없을 때
for i in range(5):
  print('i:', i, end =' ')  
  for j in range(5):
    print('j:', j, end =' ')  
  print() # 줄바꿈 기능 해줌

i: 0 j: 0 j: 1 j: 2 j: 3 j: 4
i: 1 j: 0 j: 1 j: 2 j: 3 j: 4
i: 2 j: 0 j: 1 j: 2 j: 3 j: 4
i: 3 j: 0 j: 1 j: 2 j: 3 j: 4
i: 4 j: 0 j: 1 j: 2 j: 3 j: 4

In [ ]:
for i in range(1,6):
 print("*"*i)

*
**
***
****
*****

In [ ]:
for i in range(5,0,-1):
  print("*"*i)

*****
****
***
**
*

In [ ]:
## 문자열과 내장함수
msg = "It is Time"

In [ ]:
# upper : 대문자로
print(msg.upper()) # msg는 그대로 있고 출력만 변화시킴

# lower : 소문자로
print(msg.lower())

IT IS TIME
it is time

In [ ]:
tmp = msg.upper()
# find : 문자열 찾아서 위치의 인덱스 번호 알려줌
print(tmp.find('T'))

1

In [ ]:
# count : 문자열의 갯수를 세줌
print(tmp.count('T'))

1

In [ ]:
for i in range(len(msg)):
  print(msg[i], end = ' ')
print()

for x in msg:
  print(x, end=' ')
print()

I t   i s   T i m e
I t   i s   T i m e

In [ ]:
## 리스트와 내장함수
import random as r

In [ ]:
a = list(range(11))
r.shuffle(a)
print(a)

[8, 5, 1, 9, 0, 10, 4, 7, 6, 2, 3]

In [ ]:
a =[23,12,36,53,19]
for i in range(len(a)):
  print(a[i], end=' ')
print()

for x in a:
  print(x, end =' ')

23 12 36 53 19
23 12 36 53 19

In [ ]:
# enumerate : 인덱스 번호와 원소값 같이 출력 (튜플형태로)
for x in enumerate(a):
  print(x)

(0, 23)
(1, 12)
(2, 36)
(3, 53)
(4, 19)

In [ ]:
for x in enumerate(a):
  print(x[0], x[1])

for index, value in enumerate(a):
  print(index, value)

0 23
1 12
2 36
3 53
4 19
0 23
1 12
2 36
3 53
4 19

In [ ]:
# all : 모두가 참이어야 참
if all(60 > x for x in a): 
  print("Y")
else:
  print("N")

Y

In [ ]:
# any : 한 개라도 참이면 참

if any(15 > x for x in a): 
  print("Y")
else:
  print("N")

Y

In [ ]:
## 2차원 리스트 생성과 접근

a = [0]*10 # 모든 값이 0인 1차원 리스트 생성
print(a)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
a =[[0]*3 for _ in range(3)]
print(a)

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

In [ ]:
a[0][1] = 1 # 0행의 1열
a[1][1] = 2 # 1행의 1열
print(a)

[[0, 1, 0], [0, 2, 0], [0, 0, 0]]

In [ ]:
# a의 행별로 출력
for x in a:
  print(x)

[0, 1, 0]
[0, 2, 0]
[0, 0, 0]

In [ ]:
# 리스트의 값들만 출력
for x in a:
  for y in x:
    print(y, end = ' ')
  print()

0 1 0
0 2 0
0 0 0

In [ ]:
## 함수 만들기

# 소수만 출력되도록
def isPrime(x):
  for i in range(2,x):
    if x%i == 0:
      return False # return에서 함수 종료
  return True

a =[12,13,7,9,19]
for y in a:
  if isPrime(y):
    print(y, end=' ')

13 7 19

In [ ]:
## 람다함수

def plus_one(x):
  return x+1

print(plus_one(1))

plus_two = lambda x: x+2
print(plus_two(1))

2
3

In [ ]:
a = [1,2,3]
print(list(map(plus_one, a)))

#map의 인자로 lambda 함수 사용 (sort 인자로도 많이 사용)
print(list(map(lambda x: x+1, a)))

[2, 3, 4]
[2, 3, 4]

# 코딩 구현력 기르기